#char-popup {
  position: absolute;
  left: 60px;
  top: 70px;
  width: 60px;
  background-color: white;
  overflow: hidden;
  border: 4px solid gray;
  border-radius: 10px;
  cursor: pointer;
}
#char-popup div {
  border-bottom: 1px solid gray;
}
#char-popup div:last-child {
  border-bottom: none;
}
#char-popup img {
  width: 100%;
  display: block;
}
