.modal #endgame-popup {
  background-color: white;
  border-radius: 10px;
  padding: 2em 4em;
}

#endgame-popup footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

#endgame-popup footer button {
  margin-left: 20px;
}

#cancel-btn {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}
