nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  height: 100%;
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  box-sizing: border-box;
}

nav .char-list {
  padding: 0 1em;
}

nav .char-list img {
  height: 50px;
  margin: 0 10px;
  padding: 3px;
  box-sizing: border-box;
}

.char-ctn {
  display: grid;
  place-items: center;
  opacity: 0.3;
}

.char-ctn i {
  position: absolute;
  font-size: 30px;
  color: #77b255;
}
.btn-ctn {
  display: flex;
}
.btn-ctn > * {
  margin-left: 20px;
}
.btn-ctn button:hover {
  filter: brightness(0.8);
}
.help-btn {
  background-color: skyblue;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 3px solid gray;
}
.tooltip-ctn {
  display: grid;
  place-items: center;
}
