.background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}
.tooltip-ctn {
  position: relative;
}

.tooltip {
  background-color: white;
  padding: 1em 2em;
  border-radius: 10px;
  width: max-content;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.tooltip:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15%;
  height: 1rem;
  width: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 0;
  border-right: 0;
  background-color: white;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  transform: rotate(45deg);
  z-index: 1;
}

@media screen and (max-width: 450px) {
  .tooltip:before {
    left: 35%;
  }
}
