body {
  margin: 0;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.8);
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#selection {
  position: absolute;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.char-list {
  display: flex;
}
